body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: grey;
}

.button {
  border: black;
  color: aqua;
  background-color: coral;
}

.text {
  color: whitesmoke;
  font-size: small;
}
